body {
  background-color: #121214;
}

.container {
  margin-top: 2%;
}

.downloads {
  padding: 10px 10px;
  font-weight: bold;
  text-align: left;
  color: aliceblue;
}

.footer {
  margin-bottom: 0;
  padding-top: 20%;
  color: aliceblue;
}